{% doc %}
{% enddoc %}

<div class="product-card">
  <div class="product-card__media">
    <img src="{{ product.featured_image |  image_url }}" alt="{{ product.featured_image_alt }}">
  </div>
  <div></div>
</div>

{% style %}
  .product-card__media{width: 100%; aspect-ratio:1;overflow:hidden;}
  .product-card__media img{width: 100%; height:0;object-fit:contain;}
{% endstyle %}