{% doc %}
{% enddoc %}

<div class="product-card">
  <div class="product-card__media">
    <img src="{{ product.featured_image |  image_url }}" alt="{{ product.title }}">
  </div>
  <div></div>
</div>