<div class="cart-title">
  <h1 class="{{ block_settings.type_preset | default: 'h2' }}">
    {%- if cart.empty? or force_empty -%}
      {{ 'content.your_cart_is_empty' | t }}
    {%- else -%}
      {{ 'content.cart_title' | t }}
      {% comment %}{%- if block_settings.show_count -%}{% render 'cart-bubble' %}{%- endif -%}{% endcomment %}
    {%- endif -%}
  </h1>
</div>

{% schema %}
{
  "name": "t:names.cart_title",
  "settings": [],
  "presets": [
    {
      "name": "t:names.cart_title"
    }
  ]
}
{% endschema %}