<section id="{{ section.id }}" class="blog">
  <h1>{{ blog.title }}</h1>
  <div class="blog-articles">
    {% paginate blog.articles by 16 %}
      {%  for article in blog.articles  %}
        {% render 'article-card',
          article: article,
          show_image: section.settings.show_image,
          show_author: section.settings.show_author,
          show_date: section.settings.show_date
        %}
      {% endfor %}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.blog",
  "settings": [
    {
      "type": "range",
      "id": "page_size",
      "label": "page_size",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "t:settings.show_image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:settings.show_author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:settings.show_date",
      "default": true
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.blog"
    }
  ]
}
{% endschema %}