<section id="{{ section.id }}" class="blog">
  <h1>{{ blog.title }}</h1>
  <div class="blog-articles">
    {% paginate blog.articles by 16 %}
      {%  for article in blog.articles  %}
        {% render 'article-card', article: article, show_image: true, show_date: true, show_author: true %}
      {% endfor %}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.blog",
  "settings": [
    {
      "type": "range",
      "id": "page_size",
      "label": "page_size",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1

    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.blog"
    }
  ]
}
{% endschema %}