<section id="{{ section.id }}" class="section carousel">

</section>

{% schema %}
{
  "name": "Carousel",
  "settings": [
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Carousel"
    }
  ]
}
{% endschema %}