<div class="cart"></div>

{% schema %}
{
  "name": "t:names.cart",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_cart_title"
    }
  ],
  "presets": [
    {
      "name": "t:names.cart"
    }
  ]
}
{% endschema %}