<div class="cart">
  {% content_for 'blocks' %}
  <div>
    {% for item in cart.items %}
      {{ item | json }}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:names.cart",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_cart_title"
    }
  ],
  "presets": [
    {
      "name": "t:names.cart"
    }
  ]
}
{% endschema %}