<section id="{{ section.id }}" class="section {{ section.settings.container_type }}">
  <div class="product-grid grid">
    {% for product in collection.products %}
      {% render 'collection-product-card', product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "Section Width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}