<section class="product-grid grid" data-section-id="{{ section.id }}">
  <div>
    {% for collection in collections %}
      <div>
        <img src="{{ collection.featured_image | img_url }}" alt="{{ collection.title }}">
      </div>
      <div>{{ collection.title }}</div>
    {% endfor %}
  </div>
  <div>
    {% for product in collection.products %}
      {% render 'collection-product-card', product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}