<section id="{{ section.id }}" class="section {{ section.settings.container_type }}">
  <div class="product-grid grid">
    {% paginate products by section.settings.page_size %}
      {% for product in collection.products %}
        {% render 'collection-product-card', product: product %}
      {% endfor %}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "range",
      "id": "page_size",
      "label": "Page Size",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Full Width"
        },
        {
          "value": "container-xs",
          "label": "Max 640px"
        },
        {
          "value": "container-sm",
          "label": "Max 768px"
        },
        {
          "value": "container-md",
          "label": "Max 1024px"
        },
        {
          "value": "container-lg",
          "label": "Max 1280px"
        },
        {
          "value": "container-xl",
          "label": "Max 1440px"
        },
        {
          "value": "container-2xl",
          "label": "Max 1600px"
        },
        {
          "value": "container-3xl",
          "label": "Max 1920px"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}