<section class="header flex row" data-section-id="{{ section.id }}">
  <div>头部</div>
  {% for product in collection.products %}
    {% render 'collection-product-card', product: product %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}