<section data-section-id="{{ section.id }}">
  <div class="product-grid grid">
    {% for product in collection.products %}
      {% render 'collection-product-card', product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}