<section class="header flex row" data-section-id="{{ section.id }}">
  <div>头部</div>
  {% for link in linklists[section.settings.menu].links %}
    <div>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </div>
  {% endfor %}
  <div class="copyright">
    {{ section.settings.copyright }}
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}