<section class="header flex row" data-section-id="{{ section.id }}">
  <div class="nav">
    {% for link in linklists[section.settings.menu].links %}
      <a class="nav-item" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}