<section data-section-id="{{ section.id }}">
  <div>头部</div>
  {% for link in linklist[section.settings.menu] %}
    <div>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}