<section>
  <div>
    {{ search.results | json }}
  </div>
</section>

{% schema %}
{
  "name": "t:names.search",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.search"
    }
  ]
}
{% endschema %}