<section class="{{ section.settings.container_type }}">
  {% paginate search.results by 12 %}
    <ul>
      {% for item in search.results %}
        <li>
          {%- case item.object_type -%}
            {%- when 'product' -%}
              {% render 'product-card', product: item %}
            {%- when 'article' -%}
              {% render 'article-card', article: item %}
            {%- when 'page' -%}
              {% render 'product-card', page: item %}
          {%- endcase -%}
        </li>
      {% endfor %}
    </ul>
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "t:names.search",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.search"
    }
  ]
}
{% endschema %}