<section id="{{ section.id }}" class="section collection {{ section.settings.container_type }}">
  <div  class="product-grid collection-grid grid">
    {% for collection in collections %}
      {% render 'collection-card', collection: collection %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.collection_list",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.collection_list"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.collection-card{display:grid; gap:10px;}
{% endstylesheet %}