<section id="{{ section.id }}" class="section-wrapper">
  <div></div>
</section>

{% schema %}
{
  "name": "t:names.blog_post",
  "settings":[],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.blog_post"
    }
  ]
}
{% endschema %}