<section id="{{ section.id }}" class="sectiion-wrapper" style="padding-top:{{ section.settings.padding_top | append: 'px' }};padding-bottom:{{ section.settings.padding_bottom | append: 'px' }};">
  <div class="section {{ section.settings.container_type }}">
    {% paginate collection.products by section.settings.page_size %}
      <div class="product-list grid">
        {% for product in collection.products %}
          {% render 'product-card', product: product,
            show_secondary_image: section.settings.show_secondary_image,
            show_rating: section.settings.show_rating,
            show_vendor: section.settings.show_vendor
          %}
        {% endfor %}
      </div>

      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.collections",
  "settings": [
    {
      "type": "header",
      "content": "t:settings.layout"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "range",
      "id": "page_size",
      "label": "Page Size",
      "default": 12,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "t:names.product_card_rendering"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "t:settings.show_second_image_on_hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "t:settings.show_rating",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:settings.show_vendor",
      "default": false
    },
    {
      "type": "header",
      "content": "填充"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "顶部",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "底部",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:names.collections"
    }
  ]
}
{% endschema %}