<section id="{{ section.id }}" class="section {{ section.settings.container_type }}">
  {% paginate collection.products by section.settings.page_size %}
    <div class="product-list grid">
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "t:names.collections",
  "settings": [
    {
      "type": "header",
      "content": "t:settings.layout"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "range",
      "id": "page_size",
      "label": "Page Size",
      "default": 12,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "t:names.product_card_rendering"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "t:settings.show_second_image_on_hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "t:settings.show_second_image_on_hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:settings.show_second_image_on_hover",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:names.collections"
    }
  ]
}
{% endschema %}