<section class="section-wrapper" style="padding-top:{{ section.settings.padding_top | append: 'px' }};padding-bottom:{{ section.settings.padding_bottom | append: 'px' }};">
  <div class="{{ section.settings.container_type }}">
    <form action="/search" method="get" role="search" style="position: relative;margin-bottom: 20px;">
      <label>
        <input type="search" name="q" id="q" autocomplete="off" style="width: 100%;padding: 8px;" placeholder="Search"/>
      </label>
      <div style="position: absolute; right: 0; top: 0;bottom: 0;display: flex; align-items: center; padding-right: 10px;">
        <label for="q">
          <button class="bi bi-search" type="submit"></button>
        </label>
      </div>
    </form>
    {% paginate search.results by 12 %}
      <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;">
        {% for item in search.results %}
          {%- case item.object_type -%}
            {%- when 'product' -%}
              {% render 'product-card', product: item %}
            {%- when 'article' -%}
              {% render 'article-card', article: item %}
            {%- when 'page' -%}
              {% render 'page-card', page: item %}
          {%- endcase -%}
        {% endfor %}
      </div>
      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "t:names.search",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    },
    {
      "type": "header",
      "content": "填充"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "顶部",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "底部",
      "default": 20
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.search"
    }
  ]
}
{% endschema %}