{% if page.content != blank %}
<section class="section section-pages {{ section.settings.container_type }}">
  <div>{{ page.content }}</div>
</section>
{% endif %}

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}