<section class="product-information">
  {{ product.title }}
  <ul>
    {%- for variant in product.variants -%}
      <li>
        <span>{{ variant.title }}</span>
        <span>{{ variant.url }}</span>
      </li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "Product Information",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}