<section class="product-information">
  {{ product.title }}
  <ul>
    {% for variant in product.variants %}
      <li>{{ variant.title }}</li>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "Product Information",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}