<section class="product-description {{ section.settings.container_type }}">
<div>
  {{ product.description }}
</div>
</section>

{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "t:settings.section_width",
      "default": "tarubi-container",
      "options": [
        {
          "value": "w-full",
          "label": "t:options.full"
        },
        {
          "value": "tarubi-container",
          "label": "t:options.default"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Description"
    }
  ]
}
{% endschema %}