<section class="product-description">
<div>
  {{ product.description }}
</div>
</section>

{% schema %}
{
  "name": "Product Description",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Description"
    }
  ]
}
{% endschema %}