<section class="product-information">
  {{ product.title }}
  <ul>
    {%- for variant in product.variants -%}
      <a href="{{ variant.url }}">
        <li>
          <span>{{ variant.title }}</span>
          <span>{{ variant.url }}</span>
        </li>
      </a>
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "Product Information",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}