<section class="product-information">
  {{ product.title }}
</section>

{% schema %}
{
  "name": "Product Information",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Information"
    }
  ]
}
{% endschema %}