<section class="product-description {{ section.settings.container_type }}">
<div>
  {{ product.description }}
</div>
</section>

{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "id": "container_type",
      "label": "Container Type",
      "type": "select",
      "options": [
        {
          "value": "x-full",
          "label": "Full width"
        },
        {
          "value": "container-fluid",
          "label": "fluid container"
        }
      ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Description"
    }
  ]
}
{% endschema %}