{% doc %}
{% enddoc %}

<section class="related-products">
  {{ recommendations.performed }}
  {{ recommendations.products_count }}
  {% comment %}{% for recommendation in recommendations.products %}{% endcomment %}
    {% comment %}<div>{{ recommendation.title }}</div>{% endcomment %}
    {% comment %}{% render 'product-card', product: recommendation %}{% endcomment %}
  {% comment %}{% endfor %}{% endcomment %}
</section>

{% schema %}
{
  "name": "t:names.related_products",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.related_products"
    }
  ]
}
{% endschema %}