{% doc %}
{% enddoc %}

<section id="{{ section.id }}" class="related-products">
  {% comment %}{{ recommendations.performed }}{% endcomment %}
  {% comment %}{{ recommendations.products_count }}{% endcomment %}
  {% for recommendation in recommendations.products %}
    <div>{{ recommendation.title }}</div>
    {% render 'product-card', product: recommendation %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "t:names.related_products",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:names.related_products"
    }
  ]
}
{% endschema %}