:root {
  font-family: "Source Han Sans", Helvetica, "Microsoft YaHei UI", Arial, sans-serif;
  font-size: 16px;
}


.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.container-fluid {
  container-type: initial;
  width: 100%;
}

$text-breakpoints: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'base': 1rem,
  'lg': 1.125rem,
  'xl': 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
  '7xl': 4.5rem,
  '8xl': 6rem,
  '9xl': 8rem,
);

@each $tag, $size in $text-breakpoints {
  .text-#{$tag} {
    font-size: $size;
  }
}

$font-weight: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900
);

@each $tag, $weight in $font-weight {
  .text-#{$tag} {
  font-weight: $weight;
  }
}
