:root {
  --card-shadow: #0000003d 0 3px 8px;
}

.product-list {
  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@container (max-width: 1000px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (max-width: 762px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}


.product-card {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: var(--card-shadow);

  .product-card__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}