:root {
  --color-primary: #007bff;
  --color-secondary: #007bff;
  --color-tertiary: #007bff;
  --color-disabled: #999999;
  --color-success: #007bff;
  --color-warning: #fc8800;
  --color-danger: #f93920;
  --color-info: #007bff;
}