:root {

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.header {
  font-size: 1rem;
  height: 3rem;
}

.flex {
  display: flex;
  align-items: center;

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}