:root {

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100px + 10vw), 1fr));
  gap: .75em;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: 767px){
  .header {
    width: 100%;
  }
}

.header {
  font-size: 1rem;
  height: 3rem;
}

.flex {
  display: flex;
  align-items: center;

  .row {
    flex-direction: row;
  }

  .column {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: red;
    }

    + .nav-item {
      margin-left: 1em;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 4px 3px #ddd;
  border-radius: 5px;
  overflow: hidden;

  .product-card__image {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: grid;
    align-content: center;

    img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      transition-duration: 0.5s;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
      }
    }
  }

  .product-card__price {
    margin-top: auto;
  }
}