:root {

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  &link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}